<!DOCTYPE html>
<html>
  <head>
  	<script type="text/javascript" src="/static/jquery-1.8.0.js"></script>
	<script type="text/javascript" src="/static/Better-Autocomplete/src/jquery.better-autocomplete.js"></script>
	<link href="/static/main.css" rel="stylesheet" media="screen" type="text/css" >
	<link href="/static/mycssfile.css" rel="stylesheet" media="screen" type="text/css" >
	<link href="/static/Better-Autocomplete/src/better-autocomplete.css" type="text/css" rel="stylesheet"/>
    <title>{% block title %}RateMySubway{% endblock %}</title>  
  </head>
  <body>
    {% block body %}
    {% block content %}
    {% endblock content %}
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
  </body>
</html>