<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<meta name="author" content="Flux User" >
		<meta name="description" content="My Website" >
		<meta name="keywords" content="Flux, Mac" >
		<link href="/static/main.css" rel="stylesheet" media="screen" type="text/css" >
		<title>Rate My Subway</title>
	<link href="/static/mycssfile.css" rel="stylesheet" media="screen" type="text/css" ></head>
	<body style="" >
	
<div id="wrapper" style="height:680px; " >


         
		<div id="leftcolumn" style="position:absolute; left:271px; top:0; " >
		</div>		 
		<div id="content" style="position:fixed; left:398px; top:175px; " >    
	 		<h3 style="width:110px; position:relative; left:10px; top:24px; float:left; " >Best Stations</h3>
			<h3 style="width:110px; position:relative; left:268px; top:8px; " >Worst Stations</h3>
			<iframe src="subwayrating/top5" name="top5" id="top5" style="left:8px; " ></iframe>
			<iframe src="subwayrating/bottom5" name="bottom5" id="bottom5" style="left:-7px; " ></iframe>
		</div>

		 

		<div id="rightcolumn" style="position:absolute; left:921px; top:-4px; " >		 
		</div>

		 

		 

		 
<input type="text" value="" id="searchbox" /><img src="/static/images/search_button.png" alt="" style="position:absolute; left:767px; top:98px; " ><img src="/static/images/photo.PNG" alt="" style="width:172px; height:33px; position:absolute; left:50%; top:636px; " ></div>

<img src="/static/images/ratemysubwaylogo.png" alt="" id="logo" >
<img src="/static/images/navbar.png" alt="" id="menubar" usemap="#navbar_map" >
<map name="navbar_map" >
	<area shape="rect" coords="0,5,80,30" href="/" alt="Home" ></area>
	<area shape="rect" coords="80,5,145,30" href="about.html" alt="About" ></area>	<area shape="rect" coords="145,5,250,30" href="/subwayrating" alt="Stations" ></area>
	<area shape="rect" coords="400,10,350,25" href="/accounts/login/" alt="login" ></area>


</map>
</body></html>
