<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<title>{% trans "Preview your comment FOO" %}</title>
<html>
<head>	
<script type="text/javascript" src="/static/jquery-1.8.0.js"></script>
<script type="text/javascript" src="/static/star-rating/jquery.rating.pack.js"></script>
<link href="/static/star-rating/jquery.rating.css" type="text/css" rel="stylesheet"/>
</head>

{% extends "comments/base.html" %}
{% load i18n %}



{% block content %}
  {% load comments %}
  
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    <div><input type="hidden" name="next" value="{{ next }}" /></div>
    {% if form.errors %}
    <h1>{% blocktrans count counter=form.errors|length %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% else %}
    <h1>{% trans "Preview your comment" %}</h1>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
      {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> {% trans "or make changes" %}:
      </p>
    {% endif %}
    {% for field in form %}
              {% if field.is_hidden %}
                {{ field }}
              {% else %}
                {% ifequal field.name "rating" %}
                <div id="rate_container">Rate this stop</div>
                	<div class="comment_rating">
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="1" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="2" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="3" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="4" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="5" disabled="disabled"/>
			</div>	
                  <div id="rate_label">Rate this stop </div><div id="rate">{{ field }}</div>
                 </div>
                {% else %}
                  {% if field.errors %}{{ field.errors }}{% endif %}
                  <div class="comment_field {% if field.errors %} error{% endif %}"
                  {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
                  {% ifequal field.name "url" %} style="display:none;"{% endifequal %}
                  {% ifequal field.name "name" %} style="display:none;"{% endifequal %}
                  {% ifequal field.name "email" %} style="display:none;"{% endifequal %}>
                  {{ field }}
                  </div>
                {% endifequal %}
              {% endif %}
    {% endfor %}
    <p class="submit">
    <input type="submit" name="post" class="button" value="Post" />
    </p>
  </form>
{% endblock %}
