<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<title>List of Subway Stations</title>
<html>
<head>	
<script type="text/javascript" src="/static/jquery-1.8.0.js"></script>
<script type="text/javascript" src="/static/star-rating/jquery.rating.pack.js"></script>
<link href="/static/star-rating/jquery.rating.css" type="text/css" rel="stylesheet"/>
<base target="_parent" />
</head>


{% load url from future %}
<a href="{% url 'socialauth_begin' 'facebook' %}">Login</a>

{% load comments %}
{% if reviews %}
	{% for rev in reviews %}	
		<p><a href="{{rev.slug}}.html">{{rev.division}} {{rev.line}} {{rev.name}} {{rev.get_average_rating}}</a></p>
		{% get_comment_list for rev as cmt_list %}
		{% for comment in cmt_list %}
			<div class="comment_rating">
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="1" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="2" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="3" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="4" disabled="disabled"/>
                <input name="star_{{comment.id}}" type="radio" class="star star_{{comment.id}}" value="5" disabled="disabled"/>
 				<script type="text/javascript">
					var rating = {{comment.rating|default:"0"}};
					if (rating != 0) {
						$("input:radio[name=star_{{comment.id}}]")[rating-1].checked = "checked";	
					}
				</script>
			</div>	
			<div class="comment_body">
			<p>{{ comment.user_name }} - {{ comment.submit_date }}</p>
			{{ comment.comment }}
			</div>
		{% endfor %}
	{% endfor %}
{% else %}
	<p>No reviews available.</p>
{% endif %}
	