{% load i18n %}
{% load comments %}
 
<h1>{{stop_comment.slug}}</h1>
 
{% get_comment_count for stop_comment as comment_count %}
<h2>{% trans "Comments" %} ({{ comment_count }}):</h2>
<p>{% render_comment_list for stop_comment %}</p>
 
{% if stop_comment.enable_comments %}
  {% with stop_comment.get_absolute_url as next %}
    {% get_comment_form for stop_comment as form%}
    	<form action="{% comment_form_target %}" method="post">
    		{% csrf_token %}
    		{{ form }}
    	</form>
  {% endwith %}
{% else %}
  {% trans "Comments are closed." %}
{% endif %}